*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background: #F8F3D9; 
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card--slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 4rem;
    padding: 4rem;
    
}

.card--slider > h2{
   font-size: 400%;
}

.card--slider > input{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: linear-gradient(to right, #5a3f37, #2c7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5rem;
    height: 1.8rem;
}

.card--slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
  }
  
  .card--slider > input::-moz-range-thumb {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: linear-gradient(to right, #5a3f37, #2c7744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

.card--stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 60rem;
    height: 40rem;
    background: #EBE5C2; 
    border-radius: 2rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    padding: 2rem;
}

.article h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.article p {
    margin-bottom: 1rem;
}